<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="my-4">商品詳細</h2>
      <%= flash[:notice] %>
    </div>
  </div>
    <div class="row">
      <div class="col-4 d-flex align-items-center justify-content-center">
			  <%= image_tag @item.get_product_image(200,200) %>
      </div>
      <div class="col-8">
				<table class="table">
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.body %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.genrename %></td>
          </tr>
          <tr>
            <th>税込価格（税抜価格）</th>
            <td><%= @item.add_tax_price.to_s(:delimited) %>（<%= @item.price %>）円</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td>
              <% if @item.is_active == true %>
                <a class="text-success font-weight-bold">販売中</a>
              <% else %>
                <a class="text-secondary">販売停止中</a>
              <% end %>
            </td>
          </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
        </div>
          <%= link_to "編集", edit_admin_item_path(@item.id), class: "btn btn-success col-2" %>
        <div class="col-5">
        </div>
      </div>
  </div>