    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h2 class="my-5">ショッピングカート</h2>
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
        </div>
        <div class="col-6 text-right">
            <%= link_to "カートを空にする", cart_item_path, method: :delete, "data-confirm" => "Are you sure？", class:"btn btn-warning text-white" %>
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <td>単価（税込み）</td>
                        <td>数量</td>
                        <td>小計</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% @cart_items.each do |cart_item| %>
                        <tr>
                            <td><%= cart_item.item.name %></td>
                            <td><%= cart_item.item.add_tax_price %></td>
                            <td>
                                <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id) do |f| %>
                                    <%= f.select :quantity, [1,2,3,4,5] %>
                                    <%= f.submit "変更", class:"btn btn-outline-danger py-1" %>
                                <% end %>
                            </td>
                            <td><%= cart_item.subtotal %></td>
                            <td><%= link_to "削除する", public_cart_item_path(cart_item), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-danger " %></td>
                        </tr>
                    <% @total +=  cart_item.subtotal %>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3">
            <%= link_to public_items_path, class:"btn btn-danger" do %>
                <span><i class="fas fa-birthday-cake"></i> 買い物を続ける </span>
            <% end %>
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <table class="table table-bordered">
                <tr>
                    <th>合計金額</th>
                    <td><%= @total %></td>
                </tr>
            </table>
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row my-4">
        <div class="col-5">
        </div>
        <div class="col-2">
            <a class="btn btn-danger btn-block">情報入力に進む</a>
        </div>
        <div class="col-5">
        </div>
    </div>