  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-2">
      <%= render 'layouts/search_side_bar', genres: @genres %>
    </div>

    <div class="col-4">
      <h3 class="m-4">商品一覧（全 <%= @quantity %> 件）</h3>
      <% @items.each do |item| %>
      <div class="d-inline">
        <%= link_to public_item_path(item.id) do %>
          <%= image_tag item.get_product_image(200,200)%>
        <% end %><br>
        <%= item.name %><br>
      <% if item.is_active == true %>
        <%= item.price %>円     
      <% end %>
        <% if item.is_active == true %>
          販売中
        <% else %>
          売切れ
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>